<div class="flex-container">
    <div class="map-container">
        <div class="map" id="map" class="match-parent"></div>
        <div class="filters">
            <span>
                <label>
                    <input type="checkbox" (click)="toggleAllFilters()"
                        [checked]="selectedOffenceFilters.length === offenceList.length"
                        [attr.indeterminate]="selectedOffenceFilters.length > 0 && selectedOffenceFilters.length < offenceList.length ? true : false" />
                    Select All
                </label>
            </span>
            <span *ngFor="let offence of offenceList">
                <label>
                    <input type="checkbox" (click)="toggleOffenceFilter(offence)"
                        [checked]="isOffenceSelected(offence)" />
                    {{offence}}
                </label>
            </span>
        </div>
    </div>
    <div class="panel-container">
        <h3>Highest crime rate suburbs per capita</h3>
        <div class="panel-column">
            <div class="panel-row" *ngFor="let locality of highestCrimeRateLocalities">
                <div>{{toTitleCase(locality.properties['wa_local_2'])}}</div>
                <div>{{locality.properties['crime-rate']}}</div>
            </div>
        </div>
        <h3>Lowest crime rate suburbs per capita</h3>
        <div class="panel-column">
            <div class="panel-row" *ngFor="let locality of lowestCrimeRateLocalities">
                <div>{{toTitleCase(locality.properties['wa_local_2'])}}</div>
                <div>{{locality.properties['crime-rate']}}</div>
            </div>
        </div>
    </div>
</div>