/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 14px;
}

.map-popup {
    td {
        font-size: 0.8rem;
        // font-weight: bold;
        &:first-child {
            text-align: left;
        }
        &:last-child {
            text-align: right;
        }
    }
}
